<html>
    <head>
        <title>Proyecto de Programación</title>
    </head>
    <body>
        <div>
            <h1>Prueba</h1>
            <p>Prueba HTML</p>
            {% for producto in productos %}
                <div>
                    <p> Categoría: {{ producto.categoría }}</p>
                    <h3>{{ producto.nombre }}</h3>
                    <p>Cantidad: {{ producto.cantidad|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
